@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,400;1,500&display=swap');

body{
    background-color: hsl(0, 0%, 94%); 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.label-box{
    max-width: 32rem;
    height: 20rem;
    border-radius:1rem 1rem 7rem ;
    background: hsl(0, 0%, 100%); 
    margin-top: 6rem;
    
}
.details{
    display: flex; 
}


.details-field-paragraph{
    margin: 2rem 3rem;
    font-weight:100 ;
    text-transform: uppercase;
    font-size: .8rem;
}


.input-field{
   display: flex;
}

input{
    width: 3.5rem;
    height: 1.2rem;
    margin: 0 2.5rem;
    border-radius: .1rem .3rem .3rem .1rem;
    outline: none;
    border:  groove .09rem hsl(0, 0%, 100%) ;
    font-weight: 700;
    
    
}

input[type=text]:hover{
    border:  groove .09rem hsl(259, 100%, 65%) ;
    cursor: pointer;
}

.arrow-section{
    background:  url("/images/icon-arrow.svg") center  no-repeat ;
    background-color: hsl(259, 100%, 65%);
    background-size: 25px;
    border-radius: 50% ;
    width: 3rem;  
    height: 3rem;
    overflow: hidden;
    margin-top: 5rem;
            
}

.arrow-section:hover{
    background-color:  hsl(0, 0%, 8%);
    cursor: pointer;

}



.result-container{
    padding: .5rem;
    font-size: 2.3rem;
    overflow: hidden; 
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.result-text{
   padding: .2rem .2rem;
   margin: .1rem .1rem;
}



span {
    color: hsl(259, 100%, 65%);
}


